<footer>
    <br>
    <div style="display: flex; justify-content: center;">
        <p style="margin: 0;"><small><a class="footer-API-link" href="https://openlibrary.org/dev/docs/api/covers"><span class="color-3">Visit Open Library Covers API</span></a></small></p>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 2.5%;">
        <p style="margin: 0;"><small><a class="footer-API-link" href="https://www.linkedin.com/in/vibhanshu-pandey-3a733b2bb/"><span class="color-3">LinkedIn</span></a></small></p>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 2.5%;">
        <p style="margin: 0; padding-bottom: 5%; text-decoration: none; color: rgb(181, 180, 180);"><small>© <%= new Date().getFullYear() %></small></p>
    </div>
</footer>

</body>
</html>